body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #1b263b;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}
#login-container {
    color: white;
    background: #778da9;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 9px 30px #000000;
    text-align: start;
}
label {
    font-weight: bolder;
}
#b-entrar{
    background-color: green;
    color: white;
    cursor: pointer;
    width: 150px;
    padding: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 12px;
    
}
.esqueceu{
    cursor: pointer;
}
#imput-email-senha{
    margin-bottom: 5px;
}
#email {
    background-color: #a4b6d8;
    border: none; 
    border-radius: 5px;
    height: 20px;
    width: 30vw;
}
#password {
    background-color: #a4b6d8;
    border: none; 
    border-radius: 5px;
    height: 20px;
    width: 20vw;
}    

